body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.warning {
  color: darkred;
  font-size: larger;
}

/* Login and Register Forms */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-bottom: 0px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Not Registered Text */
.form .message {
  margin: 15px 0 0;
  color: #000000;
  font-size: 14px;
}

/* Create an Account Text */
.form .message a {
  color: #4a3623;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

#loginbutton {
  text-transform: uppercase;
  outline: 0;
  background: #4a3623;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#loginbutton:hover,#loginbutton:active,#loginbutton:focus {
  background: #a07c43;
}


/* Match Select Menu CSS */
#matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#matches section {
  background-color: crimson;
  color: white;
  margin: 5px;
  padding: 5px 100px;
}


/* Game CSS*/
#game {
  position: relative;
  margin: -20px auto 50px auto;
  padding: 0px;
}

button.game {
  font-size: 1.5em;
  background-color: #2ea44f;
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

