/* Waiting Menu Clock */
.clock {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #333;
    margin: 10px;
    border: 5px solid #fff;
    position: relative;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .3), inset 0 5px 0 0 rgba(0, 0, 0, .3), inset 0 0 0 34px #8f7965;
  }
  
  .clock:after {
    content: "";
    width: 5px;
    height: 60px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: inset 0px 2px 0 0 #fff, inset 0px 30px 0 0 #333;
    animation: clock 2s linear infinite;
  }
  
  .clock:before {
    content: "";
    width: 5px;
    height: 50px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: inset 0px 2px 0 0 #fff, inset 0px 25px 0 0 #333;
    animation: clockb 6s linear infinite;
  }
  
  @keyframes clock {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes clockb {
    100% {
      transform: rotate(360deg);
    }
  }